.card {
    display: flex;
    background-color: white;
    width: 80%;
    height: 40%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.teams {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.betDetails {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.live {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 2rem;
    color: red;
    font-weight: bold;
    flex-direction: column;
}

.live-text {
    text-align: center;
}